.App {
    width: 100vw;
    height: 100vh;
    background-color: #8bdcf3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h250px {
    height: 250px;

}

.w600px {
    width: 1200px;
}

.fs40px {
    font-size: 40px;
}

.minWidth234 {
    min-width: 234px !important;

}